<nav class="flex justify-between items-center px-10 shadow shadow-white">
    <a class="text-4xl" href="/">
        home
    </a>
    <ul class="flex space-x-5">
        <li><a href="/blocks">blocks</a></li>
        <li><a href="/blocks/blocks">new block</a></li>
    </ul>

</nav>