<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="all-tailwind.css">
    <title>📘{{title}}</title>

    <style>
        * {
            border: 1px solid red;
        }
    </style>

</head>

<body class="bg-gray-800 text-white font-semibold">

    {{>navbar}}

    <div class="mt-24 mx-auto w-4/5">

        {{{body}}}
    </div>
</body>

</html>